@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

h1,
.logo-pokemon {
  margin: 1%;
}

.logo-pokemon{
  width: 250px;
}

.div-cotainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
}

.div-all-pokemons {
  max-width: 1000px;
  display: flex;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.load-more-button {
  --offset: 10px;
  --border-size: 4px;
  margin-top: 2%;
  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #43e566;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}

.load-more-button:hover {
  background: rgba(166, 223, 133, 0.219);
}

.button__horizontal,
.button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}

.load-more-button::before {
  content: "";
  position: absolute;
  border: inherit;
}

.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}

.load-more-button::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}

.load-more-button:hover .button__horizontal {
  transform: scaleX(0);
}

.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}

.load-more-button::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}

.load-more-button:hover .button__vertical {
  transform: scaleY(0);
}

footer {
  width: 100%;
  padding: 1%;
  margin-top: 2%;
  text-align: center;
  color: rgb(99, 112, 124);
  background-image: linear-gradient(
    to right top,
    #4cf2f0,
    #00e1ff,
    #30cbff,
    #8daeff,
    #cb8bee
  );
}

p {
  margin-bottom: 1%;
}
